@import "../node_modules/rfs/scss";
$body-bg: #4e5e6d;
$menu-color: #96939d;
$main-color: #4e5e6d;
$text-color: #d9bd89;
$container-color: #fafbfa;

html {
  height: 100%;
}

body {
  min-height: 100%;
}

* {
  font-size: 18px;
  color: $menu-color;
  text-align: center;
}

.title {
  font-size: 9vw;
  margin: 0 0 0.2em;
  line-height: 85%;
  color: $text-color;
}

.btn-transparent {
  color: transparent;
  border-color: transparent;
  background-color: transparent;
}

.content-row .row {
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
}

.subtitle {
  font-size: 40px;
}

.tansparent-btn {
  background-color: transparent;
  color: transparent;
}

.custom-btn {
  background-color: transparent;
  border: none;
  color: $text-color;
  text-transform: uppercase;
  font-size: 3.5vw;
}

$theme-colors: (
  "primary": $text-color,
);

.container-color {
  background: $container-color;
}
//.btn-custom {
//  background: #fff;
//  color: red;
//  border: 2px solid red;
//  border-radius: 3px;
//  padding: 5px 10px;
//  text-transform: uppercase;
//}
@import "~bootstrap/scss/bootstrap.scss";
