@import "~bootstrap/scss/bootstrap.scss";
@import "../node_modules/rfs/scss";
@import "css-vars/css-vars";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$css-vars-use-native: true;
$font: "Montserrat", sans-serif;
$body-bg: #4e5e6d;
$menu-color: #96939d;
$hl-color: #527ea8;
$text-color: #d9bd89;

@include css-vars(
  (
    --bgcolor: $body-bg,
    --textcolor: $text-color,
    --menucolor: $menu-color,
    --hlcolor: $hl-color,
  )
);

html {
  height: 100%;
}

body {
  position: relative;
  font-family: $font;
  min-height: 100%;
  background-color: var(--bgcolor);
  font-size: 18px;
  color: var(--textcolor);
  text-align: center;
}

.content-wrap {
  padding-bottom: 5rem; /* Footer height */
}

.center-card {
  margin-left: auto;
  margin-right: auto;
}

.center-height {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-pad {
  margin-bottom: 5rem;
}

.form-container {
  min-width: 10rem;
  height: auto;
  padding: 25px;
}

.cl-bg {
  background-color: var(--bgcolor);
}

.cl-txt {
  background-color: var(--textcolor);
}

.cl-menu {
  background-color: var(--menucolor);
}

.cl-hl {
  background-color: var(--hlcolor);
}

.title {
  font-size: 8vw;
  margin: 0 0 0.2em;
  line-height: 85%;
  color: var(--menucolor);
}

.btn-menu {
  background-color: transparent;
  border: none;
  color: var(--menucolor);
  text-transform: uppercase;
  font-size: 5vw;
}

.btn-linkMenu {
  background-color: transparent;
  border: none;
  color: var(--menucolor);
  font-size: 2vw;
}

.btn-ordinary {
  border-color: transparent;
  background: var(--menucolor);
  color: var(--textcolor);
}

.btn {
  &:hover {
    color: var(--hlcolor);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-transparent {
  border-color: transparent;
  background-color: transparent;
  color: var(--textcolor);
}

.content-row .row {
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
}

.subtitle {
  font-size: 40px;
}
